<!--Name: Mackenzie Lubben-Ortiz
    Assignment: header
    Date: 11/19/2023
    -->

<!DOCTYPE html>
<html lang="en">
  <head class="header">
    <title>Pets-R-Us</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/pets-r-us/public/styles/index.css"
    />

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Mrs+Saint+Delafield&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
</html>
