<!--Name: Mackenzie Lubben-Ortiz
    Assignment: navigation 
    Date: 11/19/2023
    -->

    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Pets-R-Us</div>

      <!-- NAVIGATION MENU -->
      <ul class="nav-links"></ul>

      <!-- NAVIGATION MENUS -->
      <div class="menu">
          <li><a href="/pets-r-us/views/index.ejs">HOME</a></li>
          <li><a href="/pets-r-us/views/training.ejs">TRAINING</a></li>
          <li><a href="/pets-r-us/views/grooming.ejs">GROOMING</a></li>
          <li><a href="/pets-r-us/views/boarding.ejs">BOARDING</a></li>
          <li><a href="/pets-r-us/views/appointments.ejs">MY APPOINTMENTS</a></li>
      </div>

   </div>
  </nav>
</div>
