<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Boarding Page Development
    Date: 11/19/2023
    -->

<!DOCTYPE html>
<html lang="en">
  <head class="header">
    <title>Pets-R-Us</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/pets-r-us/public/styles/index.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Mrs+Saint+Delafield&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- First Section -->
    <div class="header-banner">
        <img src="/pets-r-us/public/images/justin-veenema-A-YUeXZ1rq8-unsplash.jpg">

    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo"></div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links"></ul>

        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/pets-r-us/views/index.ejs">HOME</a></li>
            <li><a href="/pets-r-us/views/training.ejs">TRAINING</a></li>
            <li><a href="/pets-r-us/views/grooming.ejs">GROOMING</a></li>
            <li><a href="/pets-r-us/views/grooming.ejs">BOARDING</a></li>
            <li><a href="/pets-r-us/views/booking.ejs">BOOKING</a></li>
            <li><a href="/pets-r-us/views/appointments.ejs">MY APPOINTMENTS</a></li>
        </div>
  
     </div>
    </nav>
</div>

<h3>Boarding</h3>
  

<p style="border-width:3px; border-style:solid; border-color:darkgoldenrod; padding: 1em;">
    We do dog boarding differently. Our boarding pups are given the ultimate freedom during the day in our off-leash, open-play playrooms, where they can run, jump, sniff and socialize with their familiar daycare friends! <br>
    <br>
    Our doggie guests sleep in spacious and comfortable home-style crates and the only time we crate our dogs is during nap time, mealtime and bedtime. In order to keep our pups at ease, they sleep in the same familiar room they played in during the day. We also have suites available upon request.
    <br>
    <br>
    Having something from home helps ease any homesickness your pup may experience. That is why we recommend bringing your dog's favorite blanket or bedding that smells familiar. You can also bring their regular food to maintain their diet and digestion. We use custom-built software to track the food and medication intake of every dog who stays with us.
    <br>
    <br>
    We are committed to creating the safest, most fun environment possible. We believe that creating a tight-knit pack of consistent playmates is the most important thing we can do to achieve this. Boarding with us includes and is not limited to:
    <br>
    <br>
    1. WEB CAM ACCESS: We know that being away from your furry family member can be difficult. Alleviate your separation anxiety with our live webcams, available in every playroom. You can use our website or download our mobile app, available for free on both Apple and Android devices.
    <br>
    <br>
    2. SPA SERVICE: Look forward to picking up a clean and fresh smelling dog when you add a spa service to your pup's overnight stay! From a nail clipping to a full shampoo and blow out, our team of highly trained spa attendants will ensure your pup is pampered during their stay. 
  
</p>

  </p>
<h3>Pricing</h3>
<p>Boarding: starting at $55/night
  <br>
  <br>
  1 dog up to 5 nights: $55/night
  <br>
  <br>
  1 dog 5 nights or over: $50/night
  <br>
  <br>
  2 dogs up to 5 nights: $65/night
  <br>
  <br>
  2 dogs 5 nights or over: $60/night
  <br>
  <br>
  3 dogs up to 5 nights: $75/night
  <br>
  <br>
  3 dogs 5 nights or over: $70/night
</p>
</p>

  <br>

<br>
<br>
<br>


  <style>
footer {
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

}
  </style>


  <footer class="footer">
    <p>110 Crabapple Dr. Chicago, IL</p>
    <p>Photo courtesy of Unsplash</p>
</footer>

  </body>

</html>
