<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Grooming Page Development
    Date: 11/19/2023
    -->

    <!DOCTYPE html>
    <html lang="en">
      <head class="header">
        <title>Pets-R-Us</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/pets-r-us/public/styles/index.css">
    
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Mrs+Saint+Delafield&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap"
          rel="stylesheet"
        />
      </head>
    
      <body>
        <!-- First Section -->
        <div class="header-banner">
            <img src="/pets-r-us/public/images/j-balla-photography-cMtiWjiAvq4-unsplash.jpg">
    
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo"></div>
    
            <!-- NAVIGATION MENU -->
            <ul class="nav-links"></ul>
    
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/pets-r-us/views/index.ejs">HOME</a></li>
                <li><a href="/pets-r-us/views/training.ejs">TRAINING</a></li>
                <li><a href="/pets-r-us/views/grooming.ejs">GROOMING</a></li>
                <li><a href="/pets-r-us/views/boarding.ejs">BOARDING</a></li>
                <li><a href="/pets-r-us/views/booking.ejs">BOOKING</a></li>
                <li><a href="/pets-r-us/views/appointments.ejs">MY APPOINTMENTS</a></li>
            </div>
      
         </div>
        </nav>
    </div>
    
    <h3>Grooming</h3>
      
    
    <p style="border-width:3px; border-style:solid; border-color:darkgoldenrod; padding: 1em;">
        At Pets-R-Us, we care deeply about your furry family member. We insist on the best quality of care in a low stress environment for your dog. They will receive full one-on-one attention. We never cage drip dry your pet. They are not exposed to other stressed, sick, or aggressive animals. They are groomed and soon back in the comfort of their home as compared to hours kenneled in a grooming salon. We also use high quality products and equipment to ensure safety and comfort.
    
      </p>
    <h3>Pricing</h3>
    <div class="list">
        <ul>
            <li>Nail Trim: $15</li>
            <li>Haircut: $50-150</li>
            <li>Teeth Brushing: $10</li>
            <li>All of the above: $250</li>
        </ul>
    </div>
  
    
      <br>
    
    <br>
    <br>
    <br>
    
    
      <style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: darksalmon;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    
    }
      </style>
    
    
      <footer class="footer">
        <p>110 Crabapple Dr. Chicago, IL</p>
        <p>Photo courtesy of Unsplash</p>
    </footer>
    
      </body>
    
    </html>
    