<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Training Page Development
    Date: 11/19/2023
    -->

    <!DOCTYPE html>
    <html lang="en">
      <head class="header">
        <title>Pets-R-Us</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/pets-r-us/public/styles/index.css">
    
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Mrs+Saint+Delafield&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap"
          rel="stylesheet"
        />
      </head>
    
      <body>
        <!-- First Section -->
        <div class="header-banner">
            <img src="/pets-r-us/public/images/eddie-junior-OBM4TXDG0Tc-unsplash.jpg">
    
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo"></div>
    
            <!-- NAVIGATION MENU -->
            <ul class="nav-links"></ul>
    
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/pets-r-us/views/index.ejs">HOME</a></li>
                <li><a href="/pets-r-us/views/training.ejs">TRAINING</a></li>
                <li><a href="/pets-r-us/views/grooming.ejs">GROOMING</a></li>
                <li><a href="/pets-r-us/views/boarding.ejs">BOARDING</a></li>
                <li><a href="/pets-r-us/views/appointments.ejs">MY APPOINTMENTS</a></li>
            </div>
      
         </div>
        </nav>
    </div>
    
    <h3>Training</h3>
      
    
    <p style="border-width:3px; border-style:solid; border-color:darkgoldenrod; padding: 1em;">
        At Pets-R-Us, we care deeply about raising your pup up right so that they can succeed. A dog's behavior is deeply rooted in the way he is bred, socialized, and trained. You can have a social, confident dog that is able to cope in a human world if you take the time to teach basic cues and recognize the difference between minor nuisance behaviors and more serious behavior problems as they develop. If you put in the time and effort, you can prevent many behavioral problems from happening by training positively. Teaching basic cues is about more than just ensuring your dog has good manners -- it's also a fun way to enrich your dog's life and build the communication between you both. 
        <br>
        <br>
        We believe that dog training takes positivity and mentors. We offer positive dog training services that encourage good behavior through fun and informative group or private lessons led by our expert dog trainers. Our online or in-person dog obedience classes offer a secure environment where dogs and puppies can learn the skills they need for real-world situations. 
    
      </p>
    <h3>Meet the Trainer</h3>
    <img src="/pets-r-us/public/images/jorge-salvador-Y6GZ97S-mcY-unsplash.jpg">
    <h3>Brooke</h3>
    <p> Brooke has always had a special place in her heart for dogs! Growing up in a pet-loving family, Brooke was blessed to have several four-legged family members that made her childhood feel complete. In addition to dogs, horses have also played a significant role: she has been a riding instructor for the last 16 years and has competed for most of her life. 
      <br>
      <br>
      Driven by her childhood dream, she has over eight years of experience as a professional dog trainer and could not be more proud to be part of the Pets-R-Us team! She finds that the most rewarding part of her job is working with owners to eliminate stress and ensure that their dog has the best life possible. Brooke is also a certified evaluator and has years of electronic fence experience!
      <br>
      <br>
      In her free time, she enjoys spending time with her husband and two beautiful little boys, who she hopes will one day take on a profession that is just as rewarding as hers. She also has two Bullmastiffs, Brutus and Presley, who hold a GIANT piece of her heart! Pets-R-Us has truly been a blessing for Brooke and she can honestly say that she LOVES her job!

    </p>
    
    <p></p>

    <h3>Pricing</h3>
    <div class="list">
        <ul>
            <li>Tier 1</li>
            <ul>
              <li>Puppy Life Skills: $65</li>
              <li>Puppy Basics: $50</li>
              <li>Puppy Focus and Self-Control: $35</li>
            </ul>
            <li>Tier 2</li>
            <ul>
              <li>Adolescence 101: $75</li>
              <li>Adolescence Leash Walking: $52</li>
              <li>Adolescence Manners: $50</li>
            </ul>
            <li>Tier 3</li>
            <ul>
              <li>Adult 101: $75</li>
              <li>Adult Impulse Control: $35</li>
              <li>Adult Manners: $80</li>
            </ul>
        </ul>
    </div>
  
    
      <br>
    
    <br>
    <br>
    <br>
    
    
      <style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: #deb79f;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    
    }
      </style>
    
    
      <footer class="footer">
        <p>110 Crabapple Dr. Chicago, IL</p>
        <p>Photo courtesy of Unsplash</p>
    </footer>
    
      </body>
    
    </html>
    
